.style1{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 0;
	list-style-type : -1;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #ffffff;
	border-left-color : #ffffff;
	border-right-color : #ffffff;
	border-top-color : #ffffff;
	clear : none;
	float : none;
	font-variant : normal;
	letter-spacing : normal;
	padding-right : 3pt;
	text-decoration : none;
	text-transform : none;
	white-space : normal;
	word-spacing : normal;
}

.style2{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 0;
	list-style-type : -1;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #ffffff;
	border-left-color : #ffffff;
	border-right-color : #ffffff;
	border-top-color : #ffffff;
	clear : none;
	float : none;
	font-variant : normal;
	letter-spacing : normal;
	line-height : normal;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.style3{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 100%;
	list-style-type : -1;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	clear : none;
	float : none;
	font-variant : normal;
	font-weight : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0.3 em;
	margin-top : 0.3 em;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.bodytext{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 100%;
	list-style-type : decimal;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0cm;
	margin-left : 0cm;
	margin-right : 0cm;
	margin-top : 0cm;
	padding-bottom : 5pt;
	padding-left : 0pt;
	padding-right : 3pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.bodytextright{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 100%;
	list-style-type : lower-alpha;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0.5 em;
	margin-left : 0cm;
	margin-right : 0cm;
	margin-top : 0.5 em;
	padding-bottom : 5pt;
	padding-left : 0pt;
	padding-right : 3pt;
	padding-top : 0pt;
	text-align : right;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.emphasis{
	font-family : "(don't inherit)",verdana, arial, helvetica, sans-serif;
	font-size : 0;
	list-style-type : lower-alpha;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-style : italic;
	font-variant : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : auto;
	margin-left : auto;
	margin-right : auto;
	margin-top : auto;
	padding-bottom : 0pt;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.heading1{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 130%;
	list-style-type : lower-alpha;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #3399ff;
	border-left-color : #3399ff;
	border-right-color : #3399ff;
	border-top-color : #3399ff;
	border-bottom-style : solid;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : 0pt;
	border-left-width : 0pt;
	border-right-width : 0pt;
	border-top-width : 0pt;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0cm;
	margin-left : 0%;
	margin-right : 0%;
	margin-top : 0cm;
	padding-bottom : 0.3 em;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0.3 em;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.heading2{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 100%;
	list-style-type : lower-alpha;
	background-attachment : scroll;
	background-color : #b8a981;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #e8e0d0;
	border-left-color : #ffffff;
	border-right-color : #ffffff;
	border-top-color : #e8e0d0;
	border-bottom-style : solid;
	border-left-style : none;
	border-right-style : none;
	border-top-style : solid;
	border-bottom-width : 2px;
	border-left-width : 0pt;
	border-right-width : 0pt;
	border-top-width : 2px;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 5px;
	margin-left : 0%;
	margin-right : 0%;
	margin-top : 5px;
	padding-bottom : 2px;
	padding-left : 4px;
	padding-right : 4px;
	padding-top : 2px;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.heading3{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 100%;
	list-style-type : lower-alpha;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #ffffff;
	border-left-color : #ffffff;
	border-right-color : #ffffff;
	border-top-color : #ffffff;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : 0pt;
	border-left-width : 0pt;
	border-right-width : 0pt;
	border-top-width : 0pt;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0 em;
	margin-left : 0%;
	margin-right : 0%;
	margin-top : 0cm;
	padding-bottom : 0.3 em;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0.3 em;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.helpheading{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : large;
	list-style-type : lower-alpha;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : auto;
	margin-left : auto;
	margin-right : auto;
	margin-top : auto;
	padding-bottom : 0pt;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.listbullet{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 100%;
	list-style-type : square;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0.3 em;
	margin-left : 0pt;
	margin-right : 0pt;
	margin-top : 0.3 em;
	padding-bottom : 3pt;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.listbullet2{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 100%;
	list-style-type : square;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0.3 em;
	margin-left : 0pt;
	margin-right : 0pt;
	margin-top : 0.3 em;
	padding-bottom : 3pt;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.listcontinue{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 100%;
	list-style-type : none;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0.3 em;
	margin-left : 0cm;
	margin-right : 0cm;
	margin-top : 0.3 em;
	padding-bottom : 3pt;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.listnote{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 100%;
	list-style-type : none;
	background-attachment : scroll;
	background-color : #dfdfdf;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #804000;
	border-left-color : #804000;
	border-right-color : #804000;
	border-top-color : #804000;
	border-bottom-style : solid;
	border-left-style : solid;
	border-right-style : solid;
	border-top-style : solid;
	border-bottom-width : 0.3mm;
	border-left-width : 0.3mm;
	border-right-width : 0.3mm;
	border-top-width : 0.3mm;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0.3 em;
	margin-left : 0.3 em;
	margin-right : 0.3 em;
	margin-top : 0.3 em;
	padding-bottom : 3pt;
	padding-left : 2px;
	padding-right : 3pt;
	padding-top : 2px;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : 90%;
	word-spacing : normal;
}

.listnumber{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 100%;
	list-style-type : decimal;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0.3 em;
	margin-left : 0pt;
	margin-right : 0pt;
	margin-top : 0.3 em;
	padding-bottom : 3pt;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.listnumber2{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 100%;
	list-style-type : decimal;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0.3 em;
	margin-left : 0pt;
	margin-right : 0pt;
	margin-top : 0.3 em;
	padding-bottom : 3pt;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.monospace{
	font-family : "courier new",verdana, arial, helvetica, sans-serif;
	font-size : 0;
	list-style-type : lower-alpha;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-variant : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : auto;
	margin-left : auto;
	margin-right : auto;
	margin-top : auto;
	padding-bottom : 0pt;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.note{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 100%;
	list-style-type : decimal;
	background-attachment : scroll;
	background-color : #dfdfdf;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #804000;
	border-left-color : #804000;
	border-right-color : #804000;
	border-top-color : #804000;
	border-bottom-style : solid;
	border-left-style : solid;
	border-right-style : solid;
	border-top-style : solid;
	border-bottom-width : 0.3mm;
	border-left-width : 0.3mm;
	border-right-width : 0.3mm;
	border-top-width : 0.3mm;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0.3 em;
	margin-left : 0.3 em;
	margin-right : 0.3 em;
	margin-top : 0.3 em;
	padding-bottom : 2px;
	padding-left : 2px;
	padding-right : 3pt;
	padding-top : 2px;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : 95%;
	word-spacing : normal;
}

.specialbold{
	font-family : "(don't inherit)",verdana, arial, helvetica, sans-serif;
	font-size : 0;
	list-style-type : lower-alpha;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : auto;
	margin-left : auto;
	margin-right : auto;
	margin-top : auto;
	padding-bottom : 0pt;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.tablebodytext{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 100%;
	list-style-type : decimal;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0cm;
	margin-left : 0cm;
	margin-right : 0cm;
	margin-top : 0cm;
	padding-bottom : 2px;
	padding-left : 0pt;
	padding-right : 3pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.tableheading{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 110%;
	list-style-type : decimal;
	background-attachment : scroll;
	background-color : #dfdfdf;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #ffffff;
	border-top-color : #ffffff;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : solid;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : 1px;
	border-top-width : medium;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0cm;
	margin-left : 0cm;
	margin-right : 0cm;
	margin-top : 0cm;
	padding-bottom : 1px;
	padding-left : 1px;
	padding-right : 1px;
	padding-top : 1px;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.warning{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 100%;
	list-style-type : decimal;
	background-attachment : scroll;
	background-color : #80ffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #400080;
	border-left-color : #400080;
	border-right-color : #400080;
	border-top-color : #400080;
	border-bottom-style : solid;
	border-left-style : solid;
	border-right-style : solid;
	border-top-style : solid;
	border-bottom-width : 1px;
	border-left-width : 1px;
	border-right-width : 1px;
	border-top-width : 1px;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0.3 em;
	margin-left : 0.3 em;
	margin-right : 0.3 em;
	margin-top : 0.3 em;
	padding-bottom : 2px;
	padding-left : 2px;
	padding-right : 3pt;
	padding-top : 2px;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.style83{
	font-family : "(don't inherit)",verdana, arial, helvetica, sans-serif;
	font-size : 0;
	list-style-type : lower-alpha;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-variant : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : auto;
	margin-left : auto;
	margin-right : auto;
	margin-top : auto;
	padding-bottom : 0pt;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.style84{
	font-family : "(don't inherit)",verdana, arial, helvetica, sans-serif;
	font-size : 0;
	list-style-type : -1;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #ffffff;
	border-left-color : #ffffff;
	border-right-color : #ffffff;
	border-top-color : #ffffff;
	clear : none;
	float : none;
	letter-spacing : normal;
	white-space : normal;
	word-spacing : normal;
}

.heading4{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 80%;
	list-style-type : lower-alpha;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #ffffff;
	border-left-color : #ffffff;
	border-right-color : #ffffff;
	border-top-color : #ffffff;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : 0pt;
	border-left-width : 0pt;
	border-right-width : 0pt;
	border-top-width : 0pt;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0 em;
	margin-left : 0%;
	margin-right : 0%;
	margin-top : 0cm;
	padding-bottom : 0.3 em;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0.3 em;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.heading6{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 11px;
	list-style-type : lower-alpha;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #ffffff;
	border-left-color : #ffffff;
	border-right-color : #ffffff;
	border-top-color : #ffffff;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : 0pt;
	border-left-width : 0pt;
	border-right-width : 0pt;
	border-top-width : 0pt;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0 em;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 1 em;
	padding-bottom : 1px;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.tablelistbullet{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 100%;
	list-style-type : square;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0.3 em;
	margin-left : 0cm;
	margin-right : 0cm;
	margin-top : 0.3 em;
	padding-bottom : 0pt;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.menuoptions{
	font-family : "(don't inherit)",verdana, arial, helvetica, sans-serif;
	font-size : 0;
	list-style-type : lower-alpha;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-variant : normal;
	font-weight : bold;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : auto;
	margin-left : auto;
	margin-right : auto;
	margin-top : auto;
	padding-bottom : 0pt;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.buttons{
	font-family : "(don't inherit)",verdana, arial, helvetica, sans-serif;
	font-size : 0;
	list-style-type : lower-alpha;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-variant : normal;
	font-weight : bold;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : auto;
	margin-left : auto;
	margin-right : auto;
	margin-top : auto;
	padding-bottom : 0pt;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.list{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 100%;
	list-style-type : lower-alpha;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0.3 em;
	margin-left : 0cm;
	margin-right : 0cm;
	margin-top : 0.3 em;
	padding-bottom : 3pt;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.list2{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 100%;
	list-style-type : lower-alpha;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0.3 em;
	margin-left : 0cm;
	margin-right : 0cm;
	margin-top : 0.3 em;
	padding-bottom : 3pt;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.symbols{
	font-family : "symbol",verdana, arial, helvetica, sans-serif;
	font-size : 0;
	list-style-type : lower-alpha;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-variant : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : auto;
	margin-left : auto;
	margin-right : auto;
	margin-top : auto;
	padding-bottom : 0pt;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.subheading{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 100%;
	list-style-type : lower-alpha;
	background-attachment : scroll;
	background-color : #b8a981;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #e8e0d0;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #e8e0d0;
	border-bottom-style : solid;
	border-left-style : none;
	border-right-style : none;
	border-top-style : solid;
	border-bottom-width : 2px;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : 2px;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0cm;
	margin-left : 0cm;
	margin-right : 0cm;
	margin-top : 5px;
	padding-bottom : 2px;
	padding-left : 4px;
	padding-right : 4px;
	padding-top : 2px;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.superscript{
	font-family : "(don't inherit)",verdana, arial, helvetica, sans-serif;
	font-size : 8px;
font-size: 50%;
	top: -0.5em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;	list-style-type : lower-alpha;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-variant : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : auto;
	margin-left : auto;
	margin-right : auto;
	margin-top : auto;
	padding-bottom : 0pt;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : super;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.listalpha2{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 100%;
	list-style-type : lower-alpha;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0.3 em;
	margin-left : 0pt;
	margin-right : 0pt;
	margin-top : 0.3 em;
	padding-bottom : 3pt;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.editorialcomments{
	font-family : "arial",verdana, arial, helvetica, sans-serif;
	font-size : 10pt;
	list-style-type : decimal;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 6pt;
	margin-left : 0pt;
	margin-right : 0pt;
	margin-top : 6pt;
	padding-bottom : 0pt;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.figure{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 10pt;
	list-style-type : none;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0.5 em;
	margin-left : 0pt;
	margin-right : 0pt;
	margin-top : 0.5 em;
	padding-bottom : 0pt;
	padding-left : 0pt;
	padding-right : 3pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.logoforprint{
	font-family : "",verdana, arial, helvetica, sans-serif;
	font-size : 10pt;
	list-style-type : decimal;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 6pt;
	margin-left : 0pt;
	margin-right : 0pt;
	margin-top : 6pt;
	padding-bottom : 0pt;
	padding-left : 0pt;
	padding-right : 3pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.tablebodycenter{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 100%;
	list-style-type : decimal;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0cm;
	margin-left : 0cm;
	margin-right : 0cm;
	margin-top : 0cm;
	padding-bottom : 2px;
	padding-left : 0pt;
	padding-right : 3pt;
	padding-top : 0pt;
	text-align : center;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.lastmodifiedmessage{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : x-small;
	list-style-type : decimal;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-style : italic;
	font-variant : normal;
	font-weight : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 6pt;
	margin-left : 0pt;
	margin-right : 0pt;
	margin-top : 3pt;
	padding-bottom : 0pt;
	padding-left : 0pt;
	padding-right : 3pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.listalpha3{
	font-family : "segoe ui",verdana, arial, helvetica, sans-serif;
	font-size : 100%;
	list-style-type : lower-alpha;
	background-attachment : scroll;
	background-color : #ffffff;
	background-position : 0% 0%;
	background-repeat : none;
	border-bottom-color : #000000;
	border-left-color : #000000;
	border-right-color : #000000;
	border-top-color : #000000;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
	border-bottom-width : medium;
	border-left-width : medium;
	border-right-width : medium;
	border-top-width : medium;
	clear : none;
	float : none;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	letter-spacing : normal;
	line-height : normal;
	margin-bottom : 0.3 em;
	margin-left : 0pt;
	margin-right : 0pt;
	margin-top : 0.3 em;
	padding-bottom : 0pt;
	padding-left : 0pt;
	padding-right : 0pt;
	padding-top : 0pt;
	text-align : left;
	text-decoration : none;
	text-indent : 0cm;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

